.button {
  display: inline-block;
  padding: 15px 32px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.primary {
  background-color: #008cba;
}
.secondary {
  background-color: #e7e7e7;
}
.success {
  background-color: #4caf50;
}
.danger {
  background-color: #f44336;
}
